<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>blah</title>
  </head>
  <body>
    <form id="process" action="/process" method="POST">
      <textarea name="ingredients" id="ingredients" prompt="Enter you ingredients here"></textarea>
      <input type="submit"/>
    </form>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $("#process").submit(function(event) {
        event.preventDefault();
        $.getJSON("/process", {ingredients: $("#ingredients").val()}).done(function(data){
          console.log(data);
        }).error(function(err) {
          console.log(err);
        });
        return false;
      });
    });
  </script>
</html>
