<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>NoshGobble</title>
  </head>
  <body>
    <div id="left">
      <form id="process" action="/process" method="POST">
        <textarea name="ingredients" id="ingredients" prompt="Enter you ingredients here">
3 grams of cheese
        </textarea>
        <input type="submit"/>
      </form>
      <div id="ingredient-list">
        <table></table>
      </div>
    </div>
    <div id="label"></div>
  </body>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Archivo+Black" />
  <link rel="stylesheet" type="text/css" href="/static/nutritionLabel-min.css">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="/static/nutritionLabel-min.js"></script>
  <script src="/static/label.js"></script>
</html>
